# Core
httpx>=0.27.0
pydantic>=2.7.0
pydantic-settings>=2.3.0

# Database (se databaseEnabled)
psycopg2-binary>=2.9.9
sqlalchemy>=2.0.30

# Redis (se redisEnabled)
redis>=5.0.4

# Observabilidade
opentelemetry-sdk>=1.24.0
opentelemetry-exporter-otlp-proto-grpc>=1.24.0
opentelemetry-instrumentation-httpx>=0.45b0
prometheus-client>=0.20.0

# Testes
pytest>=8.2.0
pytest-asyncio>=0.23.7

# Qualidade
ruff>=0.4.7
