# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!terraform.tfvars.example
.terraformrc
terraform.rc

# Crash logs
crash.log
crash.*.log

# Sensitive data
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraform.d/
