---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    # Let's Encrypt staging server (para testes)
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: gilvan.galindo@fctconsig.com.br

    # Secret para armazenar a chave privada da conta ACME
    privateKeySecretRef:
      name: letsencrypt-staging

    # Solver HTTP01 via Ingress (ALB)
    solvers:
    - http01:
        ingress:
          class: alb
